<div id="<%= dom_id forum_thread %>">
  <div>
    <strong>Title:</strong>
    <%= forum_thread.title %>
  </div>

  <div>
    <strong>Author:</strong>
    <%= forum_thread.author_id %>
  </div>

</div>
